@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ostrich+Sans:wght@700&display=swap');


html,
body,
:root {
  height: 100%;
}
 

.raleway-extralight{
     font-size: 75px;
     transform: scale(1, 0.95); 
     display: inline-block;  
     font-weight: 200;

     @media screen and (max-width: 768px) {
      font-size: 50px;
      
     }
 }
 .large{
  font-size: 50px;
  font-weight: 200;
  @media screen and (max-width: 768px) {
    font-size: 40px;
    
   }
   @media screen and (max-width: 540px) {
    font-size: 30px;
    
   }
}
.small{
  font-size: 20px;
  font-weight: 200;
}
.small-b{
  font-family:'Ostrich Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
 }
.medium{
  font-size: 40px;
  font-weight: 300;
  @media screen and (max-width: 768px) {
    font-size: 30px;
    
   }
    
  }

  .xsm{
    @media screen and (max-width: 450px) {
 width: 80px;    

     }
  }


 